/* Navbar */
@use '../abstracts/variables';
@use '../base/animations';
@use '../abstracts/mixins';

.navbar {
  padding: 2.4rem 4.8rem .8rem;
  background: variables.$color-green;
  &__logo {
      margin-right: 3.2rem;
  }
  &__link {
      font-weight: variables.$light;
      font-size: variables.$font-size-small;
      text-transform: uppercase;
      text-decoration: none;
      color: variables.$color-white;
      padding: 20px 0px;
      margin: 0px 20px;
      display: inline-block;
      position: relative;
      opacity: 0.75;
      @include mixins.respond(tablet-landscape) { // width < 1200?
        margin: 0px;
      }
      &:hover {
          color: variables.$color-blue;
      }
      &::before {
        transition: 200ms;
        height: .3rem;
        content: "";
        position: absolute;
        background-color: variables.$color-blue;
        width: 0%;
        bottom: .8rem;
      }
      &:hover::before {
        width: 100%;
      }
  }
  &__icon {
      &--portfolio {
          height: 4rem;
          width: 4rem;

        &:hover {
          animation-name: logo-spin;
          animation-duration: .3s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
      }
  }

  &__social {
      color: variables.$color-white;
      font-size: variables.$font-size-medium;

      &-container:not(:last-child) {
          margin-right: 1.6rem;
      }

      &:hover {
          color: variables.$color-blue;
      }
  }
}

