/* Hero */
@use '../abstracts/variables';
@use '../abstracts/mixins';

.hero {
  height: calc(100vh - 9.8rem);
  min-width: 100%;
  position: relative;
  z-index: 0;
  background: linear-gradient(180deg, variables.$color-green 0.94%, variables.$color-blue 100%);

  &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: variables.$color-white;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      @include mixins.respond(tablet-landscape) { // width < 1200?
        clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
      }
      height: calc(100vh - 9.8rem + .8px);
  }

  &__container {
      &--left,
      &--right {
          display: inline-block;
          height: 100%;
          text-align: center;
          padding: 0 4.8rem;
      }

      &--left {

      }

      &--right {
          //width: 100%;
      }
  }

  &__details {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      width: 30rem;
      @include mixins.respond(tablet-landscape) { // width < 1200?
        @include mixins.center-absolute;
      }
  }

  &__name,
  &__title {
      color: variables.$color-white;
      font-family: variables.$font-hero;
  }

  &__name {
      font-size: variables.$font-size-large;
      margin-bottom: 2.4rem;
  }

  &__underline {
      &--big,
      &--small {
          background: variables.$color-white;
          height: .4rem;
          border-radius: .4rem;
          margin: 0 auto;
      }

      &--big {
          width: 10.4rem;
      }

      &--small {
          width: 4rem;
          margin: 1.4rem auto 2.4rem;
      }
  }

  &__title {
      font-size: variables.$font-size-medium;
  }

  &__image {
      max-height: 50vh;
      position: absolute;
      top: 40.5%;
      transform: translateY(-50%);
      left: 40vw;
      @include mixins.respond(tablet-landscape) { // width < 1200?
        max-height: 0;
      }
  }
}
