<div class="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
      <div class="hero__container--left">
          <div class="hero__details">
            <div class="hero__name">
              Lawrence Dovin
            </div>
            <div class="hero__underline--big"></div>
            <div class="hero__underline--small"></div>
            <div class="hero__title">
                Software Engineer
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="hero__container--right">
          <img src="assets/images/hero.jpg" class="hero__image" alt="bird"/>
        </div>
      </div>
    </div>
  </div>
</div>
