<div class="row page-preview__container">
  <div class="col-md-4 page-preview__item">
    <div class="page-preview__image-container">
      <img src="/assets/images/angular-logo.png" class="page-preview__image" alt="portfolio page about"/>
    </div>
    <a href="/" class="page-preview__button page-preview__button--about btn"><span>About</span></a>
  </div>
  <div class="col-md-4 page-preview__item">
    <div class="page-preview__image-container">
      <img src="/assets/images/angular-logo.png" class="page-preview__image" alt="portfolio page resume"/>
    </div>
    <a href="/" class="page-preview__button page-preview__button--resume btn"><span>Resume</span></a>
  </div>
  <div class="col-md-4 page-preview__item">
    <div class="page-preview__image-container">
      <img src="/assets/images/angular-logo.png" class="page-preview__image" alt="portfolio page preview"/>
    </div>
    <a href="/" class="page-preview__button page-preview__button--portfolio btn"><span>Portfolio</span></a>
  </div>
</div>
