<div class="nav-tabs__container d-flex justify-content-center">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link nav-link-inactive" routerLink="/portfolio/all" routerLinkActive="nav-link-active nav-link-active--all">
        All
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-inactive" routerLink="/portfolio/javascript" routerLinkActive="nav-link-active nav-link-active--javascript">
        JavaScript
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-inactive" routerLink="/portfolio/angular" routerLinkActive="nav-link-active nav-link-active--angular">
        Angular
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-inactive" routerLink="/portfolio/react" routerLinkActive="nav-link-active nav-link-active--react">
        React
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-inactive" routerLink="/portfolio/nodejs" routerLinkActive="nav-link-active nav-link-active--nodejs">
        Node.js
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-inactive" routerLink="/portfolio/express" routerLinkActive="nav-link-active nav-link-active--express">
        Express
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-inactive" routerLink="/portfolio/python" routerLinkActive="nav-link-active nav-link-active--python">
        Python
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-inactive" routerLink="/portfolio/flask" routerLinkActive="nav-link-active nav-link-active--flask">
        Flask
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-inactive" routerLink="/portfolio/sass" routerLinkActive="nav-link-active nav-link-active--sass">
        Sass
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-inactive" routerLink="/portfolio/bootstrap" routerLinkActive="nav-link-active nav-link-active--bootstrap">
        Bootstrap
      </a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
