<div class="footer-container">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <a class="footer__button" (click)="scrollToTop()">
                <!-- <img src="../../../assets/images/top-icon.svg" alt="" class="footer__button-icon" id="footerButtonIcon" /> -->
                <img src="assets/images/top-icon.svg" alt="" class="footer__button-icon" id="footerButtonIcon" />
            </a>
        </div>
      </div>
  </div>

  <div class="row no-gutters footer">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 d-flex justify-content-between">
                  <span class="footer__text footer__made-with">
                      Made with
                      <i class="fas fa-heart footer__icon"></i>
                      and
                      <i class="fas fa-pizza-slice footer__icon"></i>
                  </span>
                  <span class="footer__text footer__copyright">© 2022 Lawrence Dovin</span>
              </div>
          </div>
      </div>
  </div>
</div>
